.game {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid gold;
}

.tile {
    position: absolute;
    z-index: +1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: gold;
}

